

h1{text-align: center;
background-color: aquamarine;
color: rgb(0, 0, 0);
}

#cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  color: #333;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#cookie-banner p {
  display: inline-block;
  margin: 0;
  margin-right: 10px;
}

#accept-cookies {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}


{
<img src="immagini/home.jpg" alt="Immagine del Centro Remiero" style="height:200px;  style="position: absolute; ;">
}

    /* Stili CSS per il menu a tendina */
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      z-index: 1;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    /* Stili CSS opzionali per la formattazione del menu */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content a:hover {
      background-color: #f1f1f1;
    }
    
    .dropdown:hover .dropdown-content a:hover {
      background-color: #ddd;
    }
  







